/* src/App.css */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./image.png'); /* Substitua pelo caminho correto */
  background-size: cover; /* Cobre toda a área da tela */
  background-position: center; /* Centraliza a imagem */
  background-attachment: fixed; /* A imagem de fundo não rolará com a página */
}

/* Garante que a div principal ocupe toda a altura da tela */
.home {
  display: flex;
  flex-direction: row; /* Lado a lado */
  padding: 20px;
  gap: 2rem; /* Espaçamento entre as seções */
  justify-content: center; /* Centraliza as seções */
  min-height: 100vh; /* Garante que ocupe toda a altura */
}


.main-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  padding: 25px;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 0px;
  background-color: #ffffffc6;
}

.main-description {
  font-size: 1.1rem;
  color: #303030;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-top: -5px;
  background-color: #ffffffc6;

  

}

/* Estilo para as seções à esquerda e direita */
.left-side, .right-side {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 90vh;
  overflow-y: auto;
  width: 40%; /* Para que ambas as seções fiquem com largura de 50% */
}

/* Alterações de cor para as seções */
.left-side {
  background-color: #d3ffc9;
}

.right-side {
  background-color: #c9e8ff;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
}

.section-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #333;
  font-size: 1rem;
}

select,
input[type="date"],
input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
}

.minhas-reservas-btn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #28362c;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: fit-content;
  margin-left: 85px;
  transition: background 0.3s ease;
}

.minhas-reservas-btn:hover {
  background-color: #516f5a;
}

.worker-btn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #264398;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: fit-content;
  margin-left: 85px;
  transition: background 0.3s ease;
}

.worker-btn:hover {
  background-color: #3153ba;
}






.icon-minhas-reservas {
  color: #ffffff;
  font-size: 1.2rem;
}


.confirm-btn {
  padding: 12px 20px;
    border-radius: 8px;
    background-color: #58d479;
    color: rgb(38, 38, 38);
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    max-width: fit-content;
    transition: background 0.3s ease;
    
  }

.confirm-btn:hover {
  background-color: #45aa60;
}

.menu-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.meal-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.meal-card h4 {
  margin: 0 0 6px 0;
  color: #444;
}

.meal-card p {
  margin: 0;
  color: #666;
}

.no-meals-text {
  color: #777;
  font-style: italic;
}


input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
}

/* Código de Reserva */
.reservation-section {
  background-color: #f0f9ff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #bee3f8;
}

.reservation-section h3 {
  color: #2c7be5;
}


.reservar-btn {
  padding: 7px 25px;
  border-radius: 8px;
  background-color: #334638;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: fit-content;
  margin-top: 15px;
  transition: background 0.3s ease;
}

.reservar-btn:hover {
  background-color: #516f5a;
}

.reserva-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaço entre o botão e a imagem */
  margin-bottom: 5px;
}

.reserva-img {
  width: 40%; /* Ajusta o tamanho como preferires */
  height: 50%;
  background-color: #ffffffc6;
  align-items: center;
  display: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 380px;
  padding-right: 400px;
}

.worker-section {
  background-color: #f0f9ff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #bee3f8;
  align-items: right;
}