/* src/App.css */
.home {
  display: flex;
  flex-direction: row; /* Alterado para 'row' para posicionar lado a lado */
  padding: 20px;
  gap: 2rem; /* Espaçamento entre as seções */
  justify-content: center; /* Centraliza as seções na tela */
}

.main-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  margin: 30px;
  justify-content: center;
}

.main-description {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  margin: 30px;
  justify-content: center;

}

/* Estilo para as seções à esquerda e direita */
.left-side, .right-side {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 90vh;
  overflow-y: auto;
  width: 40%; /* Para que ambas as seções fiquem com largura de 50% */
}

/* Alterações de cor para as seções */
.left-side {
  background-color: #d3ffc9;
}

.right-side {
  background-color: #c9e8ff;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
}

.section-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #333;
  font-size: 1rem;
}

select,
input[type="date"],
input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
}

.confirm-btn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #58d479;
  color: rgb(38, 38, 38);
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: fit-content;
  transition: background 0.3s ease;
}

.confirm-btn:hover {
  background-color: #45aa60;
}

.menu-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.meal-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.meal-card h4 {
  margin: 0 0 6px 0;
  color: #444;
}

.meal-card p {
  margin: 0;
  color: #666;
}

.no-meals-text {
  color: #777;
  font-style: italic;
}


input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
}

/* Código de Reserva */
.reservation-section {
  margin-top: 20px;
  background-color: #f0f9ff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #bee3f8;
}

.reservation-section h3 {
  color: #2c7be5;
}
