/* src/App.css */
.home {
  display: center;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.left-side {
  width: 48%;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.right-side {
  width: 48%;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

select, input {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}
